.contactsContainer {
    width: 100%;
    height: 100vh;
    background-color: hsl(150, 9%, 4%);
    position: relative;
    padding: 0;
    margin: auto;
    overflow: hidden;
}

.smallContacts {
    font-size: 16px;
    font-weight: bold;
    color: rgb(184, 4, 37);
    cursor: pointer;
    margin-left: 6%;
    top: 35px;
    position: absolute;
    letter-spacing: 1px;
}

.emptyLine {

    width: 50px;
    height: 2px;
    top: 13px;
    position: absolute;
    left: 110%;
    background-color: rgb(184, 4, 37);
}

.contactsContainer2 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    position: absolute;
    top: 15%;


}

.contactDetails {
    width: 50%;
    height: 100%;
    position: relative;
    padding-left: 30px;

}

.contactDetails h1 {
    position: absolute;
    left: 15%;
    top: 5px;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: bold;

}

.contactDetails2 {
    width: 50%;
    height: 100%;
    position: relative;
    padding-left: 30px;

}

.footerDeg h1 {
    position: absolute;
    top: 8%;
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: bold;



}

.footerDeg p {
    position: absolute;
    top: 5px;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 100;
    color: lightgrey;


}

.messageCon {

    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 20%;

}

.messageCon input {

    width: 70%;
    height: 50px;
    background-color: transparent;
    border-bottom: 3px solid rgba(184, 4, 37, 0.349);
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;


}

.messageCon button {


    background-color: rgba(184, 4, 37, 0.548);
    color: rgba(255, 255, 255, 1);
    border: none;
    letter-spacing: 2px;

}

.messageCon button {

    background-color: rgba(176, 0, 32, 1);
    color: rgba(255, 255, 255, 1);

}



.messageCon input::placeholder {

    color: rgba(255, 255, 255, 0.795);
    padding-left: 5px;
}

.messageCon input:focus {

    outline: none;
}

textarea {
    width: 70%;
    height: 50px;
    background-color: transparent;
    border-bottom: 3px solid rgba(184, 4, 37, 0.349);
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
}

textarea::placeholder {

    color: rgba(255, 255, 255, 0.795);
    padding: 5px;

}

textarea:focus {

    outline: none;
}


.extraDesgin {
    background-color: rgba(184, 4, 37, 0.205);
    width: 250px;
    height: 80px;
    text-align: center;


}

.contactIcon {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    margin: auto;
    position: absolute;
    left: 15%;
    top: 20%;

}

.icoBox {
    display: flex;
    gap: 10px;
    letter-spacing: 1px;
}

@media only screen and (min-width:320px)and (max-width:667px) {



    .contactsContainer2 {
        position: absolute;
        display: flex;
        flex-direction: column;
    }

    .contactDetails {
        width: 100%;
        height: 40%;
    }

    .contactDetails h1 {
        font-size: larger;
        position: absolute;
        left: 20px;
    }

    .contactIcon {
        position: absolute;
        left: 20px;
        font-size: 15px;
        top: 47%;
    }

    .contactDetails2 {
        width: 100%;
    }

    .footerDeg p {
        font-size: 11px;
       
        
    }

    .footerDeg h1 {
        font-size: 11px;
       
    }

    form {
        position: absolute;
        left: 20px;
        font-size: 10px;
    }

    .messageCon button {

        width: 80px;
        position: absolute;
        left: 72%;
        top: 83%;
        height: 45px;

    }

    .icoBox {
        font-size: small;
    }

}

@media only screen and (min-width:670px)and (max-width:990px) {

    .contactsContainer2 {
        display: flex;
        flex-direction: column;
    }

    .contactDetails {
        width: 100%;
        height: 50%;
    }

    .contactDetails h1 {
        font-size: 43px;
        left: 10%;
    }

    .contactIcon {
        left: 10%;
        top: 30%;
    }


    .contactDetails2 {
        width: 100%;
        height: 100%;
    }

    .footerDeg p {
        left: 10%;
    }

    .footerDeg h1 {
        left: 10%;
    }

    form {
        left: 10%;
        top: 16%;
    }

    .messageCon button {
        top: 100%;
        left: 45%;
    }
}