.portfolioContainer {
  width: 100%;
  height: max-content;
  background-color: hsl(150, 9%, 4%);
  position: relative;
  padding: 0;
  margin: auto;
}

.smallPortfolio {
  font-size: 16px;
  font-weight: bold;
  color: rgb(184, 4, 37);
  cursor: pointer;
  margin-left: 6%;
}

.line {
  width: 50px;
  height: 2px;
  background-color: rgb(184, 4, 37);
  position: absolute;
  left: 11.5%;
  top: 1%;
}

.titleContainer {
  width: 100%;
  height: 15%;
  background-color: rgba(184, 4, 37, 0.151);
  text-align: center;
  padding-top: 10px;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: bold;
  margin: auto;
}

.Container {
  width: 100%;
  height: 100%;
  top: 35%;
  padding: 50px;
  text-align: center;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}

.renderContainer {
  overflow: hidden;
  position: relative;
}

.renderImg {
  width: 100%;
  height: 300px;
  cursor: pointer;
  display: block;
  opacity: 0.7;
  transition: transform 0.5s;
}

.insideRenderContainer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.911), rgb(107, 1, 20));
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
  object-fit: cover;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

.insideRenderContainer h4 {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.insideRenderContainer p {
  font-size: 13px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  color: lightgray;
}
.insideRenderContainer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  line-height: 60px;
  font-size: 18px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.renderContainer:hover .renderImg {
  transform: scale(0.5);
}

.renderContainer:hover .insideRenderContainer {
  height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
  .titleContainer {
    font-size: 30px;
    height: 70px;
  }

  .smallPortfolio {
    padding-top: 40px;
  }
  .line {
    left: 25%;
    top: 52px;
  }
  .insideRenderContainer h4 {
    font-size: 10px;
  }

  .insideRenderContainer p {
    font-size: 7px;
  }

  .insideRenderContainer a {
    width: 40px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    top: 58%;
  }

  .Container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;
  }

  .renderContainer {
    height: 166px;
  }

  .renderImg {
    width: 289px;
    height: 151px;
  }
}

@media only screen and (min-width: 670px) and (max-width: 990px) {
  .titleContainer {
    height: 100px;
  }
  .Container {
    grid-gap: 40px;
    grid-template-columns: auto;
  }
  .line {
    left: 15%;
    top: 14px;
  }
  .insideRenderContainer h4 {
    font-size: 30px;
  }

  .insideRenderContainer p {
    font-size: 13px;
  }

  .insideRenderContainer a {
    width: 40px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    top: 58%;
  }
}
