.SmallNavbar {
  width: 100%;
  height: 50px;
  background: black;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  gap: 10px;
  margin: auto;
  top: 90%;
  position: absolute;
  left: 0;
}
.SmallNavbar {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
  .SmallNavbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    bottom: 0;
    height: 100px;
    padding: 20px;
    position: fixed;
    z-index: 999;
    overflow: hidden;
    font-size: 35px;
    color: white;
    background: #090b0a;
  }
  .eachDiv {
    width: 50px;
    height: 55px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    position: initial;
    color: white;
    flex-direction: column;
    text-decoration: none;
    margin: auto;
  }

  .eachDiv p {
    font-size: 10px;
  }
}
