.about {
  background-image: url("../assests/Wireframe2.png");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 64% 0px;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.splitContainer {
  display: flex;
  width: 90%;
  height: 100vh;
  padding: 10px;
  margin: auto;
}

.col1 {
  width: 50%;
  height: 90%;
  align-items: flex-start;
  position: relative;
}

.aboutNameCap {
  position: absolute;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  left: 10%;
  top: 15%;
}

.smallAboutMe {
  font-size: 16px;
  font-weight: bold;
  color: rgb(184, 4, 37);
  cursor: pointer;
  margin-left: 6%;
  top: 35px;
  position: absolute;
}

.empty {
  width: 50px;
  height: 2px;
  top: 13px;
  position: absolute;
  left: 110%;
  background-color: rgb(184, 4, 37);
}

.aboutMePrap {
  font-size: 14px;
  letter-spacing: 1px;
  position: absolute;
  left: 10%;
  top: 32%;
}

.personalInfo {
  font-size: 30px;
  letter-spacing: 1px;
  position: absolute;
  left: 10%;
  top: 72%;
  font-weight: bolder;
  color: rgba(176, 0, 32, 1);
}

.info {
  width: 100%;
  height: 30%;
  padding: 10px;
  justify-content: center;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: absolute;
  top: 80%;
  left: 8%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bolder;
}

.col2 {
  width: 50%;
  height: 90%;
  display: flex;
  position: relative;
  margin: 30px;
  padding: 10px;
}

.cvDept {
  width: 100%;
  height: 24%;
  position: absolute;
  padding: 10px;
  top: 70%;
  left: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.heroProfession {
  font-weight: bold;
  color: rgba(176, 0, 32, 1);
  font-size: 30px;
}

.cvDept a {
  text-decoration: none;
  width: 150px !important;
  height: 50px;
}

.cvDept .btn {
  background-color: rgba(176, 0, 32, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  display: flex;
  text-align: center;
  height: 50px;
  font-size: 15px;
  width: 150px;
  padding: 15px;
}

.cvDept .btn:hover {
  background-color: rgba(148, 19, 43, 0.753);
  color: rgba(255, 255, 255, 1);
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
  .splitContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .col1 {
    width: 100%;
    height: 74%;
  }

  .aboutMePrap {
    font-size: 10px;
    position: absolute;
    left: 10px;
  }

  .aboutNameCap {
    font-size: 30px;
    position: absolute;
    left: 10px;
  }

  .personalInfo {
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 66%;
  }

  .info {
    position: absolute;
    width: 100%;
    height: 150px;
    font-size: 10px;
    left: 1px;
    gap: 2px;
    top: 73%;
  }

  .col2 {
    width: 100%;
    position: absolute;
    left: -19px;
    height: 200px;
    top: 73%;
  }

  .cvDept {
    position: absolute;
    font-size: 10px;
    top: 0;
    left: 0;
  }

  .cvDept .btn {
    width: 105px;
    height: 42px;
    font-size: smaller;
    position: absolute;
    top: 90px;
    left: 7px;
  }

  .heroProfession {
    font-size: 20px;
  }

  .heroName {
    font-size: 25px;
  }
}

@media only screen and (min-width: 670px) and (max-width: 990px) {
  .splitContainer {
    width: 97%;
  }

  .col2 {
    height: 80%;
  }

  .col1 {
    width: 59%;
  }

  .cvDept {
    top: 89%;
  }

  .cvDept .btn {
    position: absolute;
    top: 10;
    top: 38%;
    left: 10px;
  }

  .info {
    font-size: small;
    gap: 3px;
    left: 0;
    padding: 34px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .cvDept {
    top: 89%;
  }
}
